:root{
  /* color variables */
  --carmine: rgba(204, 0, 0,0.5);;
  --dark-slate-gray: #28403Dff;
  --green: #7B965Cff;
  --offwhite::#c6c1c3;
  --white:#fff;
}

/* BODY */
body{
  
  background-color:var(--offwhite);
  background-image: url("../images/gardenbed1\ 2.jpeg");
  background-size: cover;
  color: var(--white); /*main text color*/
  display: flex;
  flex-direction: column; 
  height: 100vh;
  margin: 0;
  overflow-x:hidden;
  padding: 0;
  width:100vw;
}
/* HEADER */
header {
  background-color:var(--green)  ;
  background-image: url("../images/gardenbed1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: ellipse(100% 99% at 50% 0);
  height: 40vh;
  top:0;
  width:100vw;
  z-index: -1;
}
/* HEADER: title format */
.title{
  font-family: cursive;
  font-size: 2rem;
  height:fit-content;
  margin:auto;
  position: relative;
  text-shadow: -.2rem .25rem 0.2rem var(--dark-slate-gray); 
  top:-5vh; 
  width:fit-content;
}
/* HEADER: first subheader of title */
.header2{
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
  left:15vw;
  margin:auto;
  position:relative;
  overflow-x: hidden;
  text-shadow: -.2rem .25rem 0.2rem var(--dark-slate-gray); 
  top:-5rem;
  width:40vw;
  z-index:7;
}

/* NAVIGATION AND MAIN to align main with nav */
.row{
  display:flex;
}

/* NAVIGATION BAR */
/* NAVIGATION: set nav size */
.navsize{
  height:100px;
  width:200px;
}
/* NAVIGATION: labels */
.navlabel{
  color:var(--white); 
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5rem;
  left: 10%;  
  text-shadow:/*gives border to text*/
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em black;
}
/* NAVIVATION: hyperlink */
a { 
  /* removes the underline */
  text-decoration: none;
  
}
/* NAVIVATION: button */
button{
  background-color:rgba(255,255,255,0.7);
  cursor:pointer;
  display:block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  
}
/* NAVIGATION: Change the color of nav icon on hover */
nav button:hover{   
  background-color: var(--carmine);
  text-shadow: -.2rem .25rem 0.2rem var(--dark-slate-gray);
  transform: scale(1.15);
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
}

/* MAIN CONTENT GARDEN BEDS*/
main{
  color:var(--dark-slate-gray); /*garden bed font color*/
  
}

figure{
  /*MAIN GARDEN BED: brick raised garden bed */
  border: 1px dashed white;/*draw border*/
  border-image: url(../images/brick.jpeg) 30 / 2rem round;

  /* MAIN GARDEN BED: garden bed background */
  background-color:rgba(255,255,255,0.7);
}
/* MAIN GARDEN BED: labels*/
h3{
  font-family: cursive;
  font-size: 2rem;
  margin-top:2rem;
  text-align: center;
  text-shadow: -.2rem .25rem 0.2rem white;
}
	/* MAIN DEVELOPER*/

/* FLEX used in icon as well*/
.displayrow{
  column-gap: 1.25rem;
  display:flex;
  justify-content:center;
  margin:auto;
  margin-bottom: 3.5rem; 
  width: 60vw;
}
/* MAIN DEVELOPER: picture */
.id-picture{
  border-radius: 50%;
  border: 5px solid var(--white);
  margin-left: 2rem;
  margin-right: 2rem;
  width:10rem;
}

article{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  margin:auto;
  margin-bottom: 3rem;
  width:100%;
}

/* MAIN PORTFOLIO  */
/* flex box */
picture{
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;
  margin-bottom: 3rem;
}
/* MAIN PORTFOLIO : app container */
dd{
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

figcaption{
  font-size: 1.25rem;
}
/* MAIN PORTFOLIO: app image border */
.whiteborder{
  border: 5px solid var(--white);
}

.firstappstyle{
  height:auto;
  width:80%;

}
/* MAIN PORTFOLIO: controls the size of the app images */
picture .appImage{
  height:300px;
  width:200px;
}
/* MAIN PORTFOLIO: hover response */
main figure picture dd:hover{
  background-color:  rgba(53, 94, 59, 0.8);
  color:var(--white);
  font-weight: bolder;
  text-transform: uppercase; /*transform to uppercase to better visibility*/
  transform: scale(110%);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

/* MAIN CONTACT */
/* contact me icons and links */
.icon{
  align-content: center;
  border-radius: 10px;
  height: 5em;
  width: 5em;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.linkedin{
  background-image:url(../images/linkedin.png);
  background-size:100%; 
}

.github{
  background-image:url(../images/github.png);
  background-size:100%; 
}

.email{
  background-image: url(../images/iconemail.png);
  background-size: 100%;
}
/* MAIN CONTACT: hover features */
.linkedin:hover, .email:hover{
  background-color:var(--white);
  transform: scale(125%);
}

.github:hover, h4:hover {
  background-color:black;
  color:var(--white);
  transform: scale(125%);
}

/* FOOTER */
footer{
  height: 3rem;
  position: static;
  text-align: center; 
  width: 100vw;
 }

  /* media queries */
@media screen and (max-width: 768px) {
  h1,h2{
    margin-right:0px;
    overflow-x: hidden;
    padding-right:-200px;
  }
  
  span,figure,main,div, section {
    align-items: center;
    flex-direction:column;
    margin:auto;
    position:static;
    width:100vw;
  }
 
  nav, button{ 
    position:static !important; /*stops the sticky menu*/
  }
  icon,h4 {
    margin: auto;
    text-align: center; 
  }
}