:root{
  /* color variables */
  --carmine: rgba(204, 0, 0,0.5);;
  --dark-slate-gray: #28403Dff;
  --green: #7B965Cff;
  --opaquebrown2: rgba(120, 40, 31,0.5);
  --offwhite::#c6c1c3;
  --white:#fff;
}

/* BODY */
body{
  background-color:var(--offwhite);
  background-image: url(../images/gardenbed1\ 2.jpeg);
  color: var(--white); /*main text color*/
  display: flex;
  flex-direction: column; 
  position:relative;
  height: 100vh;
}
/* HEADER */
header {
  background-color:var(--green)  ;
  background-image: url(../images/gardenbed1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  clip-path: ellipse(100% 99% at 50% 0);
  height: 40vh;
  min-width: 1150px;
  position: relative;
  top:0;
  width:100vw;
  z-index: -1;
}
/* HEADER: title format */
header h1{
  font-family: cursive;
  font-size: 15vh;
  left: 10vw;
  position: relative;
  text-shadow: -.2rem .25rem 0.2rem var(--dark-slate-gray); 
  top:-5vh; 
}
/* HEADER: first subheader of title */
header h2{
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5rem;
  left:55vw;
  position: relative;
  text-shadow: -.2rem .25rem 0.2rem var(--dark-slate-gray); 
  top:-6.5rem;
}
/* HEADER: second subheader for title  a little offset*/
.subheader2offset{
  z-index: 3;
  left:60vw;
  top:-8rem;
}
/* NAVIGATION AND MAIN to align main with nav */
.row{
  display:flex;
}

/* NAVIGATION BAR */
/* NAVIGATION: set nav size */
.navsize{
  width:200px;
  height:100px;
}
/* NAVIGATION: labels */
.navlabel{
  color:var(--white); 
  font-family:'Courier New', Courier, monospace;
  font-size: 2rem;
  left: 10%;  
  text-shadow:/*gives border to text*/
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em black;
}
/* NAVIGATION: Change the color of nav icon on hover and focus */
nav button:hover,nav button:focus{   
  font-size: 2.3rem; 
  text-shadow: -.2rem .25rem 0.2rem var(--dark-slate-gray);
  background-color: var(--carmine);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
button{
  display:block;
  background-color:rgba(255,255,255,0.7);
  writing-mode: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
/* MAIN CONTENT GARDEN BEDS*/
main{
  color:var(--dark-slate-gray); /*garden bed font color*/
}

figure{
  /*MAIN GARDEN BED: brick raised garden bed */
  border: 1px dashed white;/*draw border*/
  border-image: url(../images/brick.jpeg) 30 / 2rem round;

  /* MAIN GARDEN BED: garden bed background */
  background-color:rgba(255,255,255,0.7);
}
/* MAIN GARDEN BED: labels*/
h3{
  font-family: cursive;
  font-size: 3rem;
  text-align: center;
  text-shadow: -.2rem .25rem 0.2rem white;
}
	/* MAIN DEVELOPER*/
span{
  margin:2rem;
}
/* FLEX used in icon as well*/
.displayrow{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 3.5rem;
}
/* MAIN DEVELOPER: picture */
.id-picture{
  max-height: 400px;
  border-radius: 50%;
  border: 5px solid var(--white);
  margin-left: 3rem;
  margin-right: 3rem;
}

article{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-right:3rem;
  margin-bottom: 2rem;
}

/* MAIN PORTFOLIO  */
/* flex box */
picture{
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;
}
/* MAIN PORTFOLIO : app container */
dd{
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

figcaption{
  font-size: 1.5rem;
  font-weight: bolder;
}
/* MAIN PORTFOLIO: app image border */
.whiteborder{
  border: 5px solid var(--white);
}

.firstappstyle{
  min-width: 300px; 
  height:500px; 
  margin:10px;
}
/* MAIN PORTFOLIO: controls the size of the app images */
picture .appImage{
  height:350px;
  margin:10px;
  width:250px;
}

main figure picture dd:hover{
  background-color:  rgba(53, 94, 59, 0.8);
  color:var(--white);
  text-transform: uppercase; /*transform to uppercase to better visibility*/
  transform: scale(110%);
    -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

/* MAIN CONTACT */
/* contact me icons and links */
.icon{
  align-content: center;
  background-position: center;
  border-radius: 10px;
  height: 5em;
  margin-left: 3rem;
  width: 5em;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.linkedin{
  background-image:url(../images/linkedin.png);
  background-size:100%; 
}

.linkedin:hover {
  background-color:var(--white);
  transform: scale(150%);
}

.github{
  background-image:url(../images/github.png);
  background-size:100%; 
}

.github:hover{
  background-color:black;
  transform: scale(150%);
}

.email{
  background-image: url(../images/iconemail.png);
  background-size: 100%;
}

.email:hover{
  background-color: var(--white);
  transform: scale(150%);
}

/* FOOTER */
footer{

  height: 3rem;
  position: static;
  text-align: center; 
  width: 100vw;
 }

  /* media queries */
  @media screen and (max-width: 768px) {

  button{
    position:fixed; /*fix button*/
  }
    span, section, figure,picture{
      flex-direction:column;
      margin:auto;
    }
}